@import "tailwindcss";
@config "../tailwind.config.js";

body {
  background-color: #0d1117;
  color: #c9d1d9;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #0d1117;
}
::-webkit-scrollbar-thumb {
  background: #30363d;
  border-radius: 5px;
  border: 2px solid #0d1117;
}
::-webkit-scrollbar-thumb:hover {
  background: #58a6ff;
}
